nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0px 200px;
    
}

.text-primary {
    color: rgb(253, 110, 10);
}

.btn-primary {
    border-radius: 5px;
    border: 0;
    text-align: center;
    background: rgb(253, 110, 10);
    width: 150px;
    height: 64px;
    font-size: 20px;
font-weight: 700;
color: rgb(255, 255, 255);
}

.nav-title {
    color: black;
    font-size: 45px;
    font-weight: 800;
    
}

nav>ul {
    display: flex;
    align-items: center;

}

nav li {
    list-style: none;
    margin-right: 50px;
}

nav a {
    text-decoration: none;
    color: rgb(71, 71, 71);
    font-size: 20px;
    font-weight: 400;
    line-height: 27px
}
  /* header related styles */
  .header{
    background-color: rgb(255, 248, 243);
    background-image: url(../images/header_bg.png);
    background-repeat: no-repeat;
    background-position: bottom right;
    /* display: flex; */
  }

  .banner{
    padding:30px 30px 0px 150px ;
    display: flex;
    align-items:center ;
    justify-content: space-between;
  }

  .banner .profile-pic{
    width: 500px;
  }

  .baner-greeting{
    color: rgb(71, 71, 71);
    font-size: 45px;
    font-weight: 600;
    margin-bottom: 0px;
  }

  .banner-title{
    font-size: 85px;
    font-weight: 700;
    color:rgb(24, 24, 24) ;
    margin-top: 5px;
   
  }
  .banner-description{
    margin-top: 20px;
    margin-bottom: 30px;
  }

  .banner-content{
    max max-width: 500px;
  }
